/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1E88E5;
    color: #fff;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav li {
    margin: 0 10px;
  }
  .leave-exceptions, .alerts {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  